
# IDEA
*.iml
.idea/

# Eclipse
.classpath
.project
.settings/

# MAVEN
.meta-data/
target/
pom.xml.versionsBackup
.mvn/maven.config
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# OSX
.DS_Store

# DEV
.tmp/
.gradle/
#.repository

_slides/


